{% extends "_layouts/cp" %}

{% import "_includes/forms" as forms %}

{% if title is not defined %}
    {% set title = "Export translations" | t('translations-admin') %}
{% endif %}

{% block content %}
    <form method="post" accept-charset="UTF-8">
        {{ actionInput('translate/export/export') }}
        {{ csrfInput() }}

        {{ forms.selectField({
            label: "Category"|t('translate'),
            id: 'category',
            name: 'category',
            value: '',
            options: categories
        }) }}

        <button class="btn submit" type="submit">{{ "Export" | t('translations-admin') }}</button>
    </form>
{% endblock %}
